img
{
    max-width: 100%;
    max-height: 100%;
    visibility: 'hidden';
}
#content
{
    height: 430px;
    width: 650px;
}
#slider {
    margin: 10px;
    margin-top:10px;
}
.ui-slider-horizontal {
    height: 8px;
    width: 620px;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px;
}